<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<!-- The Heroku app serves public/.well-known/apple-app-site-association at its root. -->
		<string>applinks:kodable-creator-rig-03d05ef5fa9b.herokuapp.com?mode=developer</string>
	</array>
</dict>
</plist>
